
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
}

#padre {

    height: 20em;
    width: 20em;

    display: flex;
    flex-direction: row;

}

.hijo {

    height: 20em;
    width: 10em;

    display: flex;
    flex-direction: column;
}

.nieto {

    height: 10em;
    width: 10em;

}

.blanco {
    background-color: white;
}

.negro {
    background-color: black;
}